<div class="box-info">
  <div class="flex-1 flex items-center gap-20 mb-20">
    <img src="../../../../assets/image-logo.png" width="200" height="200" />
    <p class="mt-3 text-blue-800" style="font-size: 4rem; font-weight: bold">
      Jonatan Reyes
    </p>
  </div>

  <p class="info text-blue-900" style="font-size: 1rem">
    Tras 6 años trabajando como Vigilante de Seguridad, decidí emprender una
    nueva etapa en el mundo del desarrollo de Software.
  </p>
  <br />

  <p class="info text-blue-900" style="font-size: 1rem">
    En 2023 inicié mis estudios de <strong>Formación Profesional</strong> en el
    <strong>IES Leonardo da Vinci</strong>, en <strong>Albacete</strong>,
    cursando el
    <strong
      >Ciclo Formativo de Grado Superior de Desarrollo de Aplicaciones
      Multiplataforma</strong
    >. Una vez terminado el Ciclo, estoy buscando mi primera oportunidad
    laboral.
  </p>
  <br />
  <p class="info text-blue-900" style="font-size: 1rem">
    Durante mi formación en el ciclo, he trabajado con:
  </p>
  <p class="info text-blue-900" style="font-size: 1rem">
    -Lenguajes multiplataforma como <strong>Java, C#, Python,</strong> entre
    otros.
  </p>
  <p class="info text-blue-900" style="font-size: 1rem">
    -Frameworks de <strong>.NET </strong>y <strong>.NET MAUI</strong>.
  </p>
  <p class="info text-blue-900" style="font-size: 1rem">
    -Bases de datos relacionales y gestores de BBDD como
    <strong>Oracle y postgreSQL</strong>.
  </p>
  <p class="info text-blue-900" style="font-size: 1rem">
    -<strong>HTML y CSS</strong> en cuanto al desarrollo web.
  </p>
  <br />
  <p class="info text-blue-900" style="font-size: 1rem">
    Quiero destacar mi predisposición para aprender nuevos lenguajes, frameworks
    y/o tecnologías cuando sea necesario y mi constancia con el aprendizaje
    continuo.
  </p>
  <br />
  <p class="info text-blue-900" style="font-size: 1rem">
    Actualmente, estoy realizando el curso "Domina Android desde cero con
    Kotlin, Compose y Gemini AI" en <strong>Udemy</strong>.
  </p>
</div>
