<div class="box-info">
  <p
    class="title mt-3 text-blue-800 mb-10 mx-10"
    style="font-size: 4rem; font-weight: bold"
  >
    Contacta conmigo
  </p>

  <div class="ml-40">
    <div class="mb-5">
      <i class="fa-solid fa-mobile-screen"></i>
      <span class="text-lg font-bold leading-5 text-blue-900">{{
        telefono
      }}</span>
    </div>
    <div class="mb-5">
      <i class="fa-regular fa-envelope"></i>
      <span class="text-lg font-bold leading-5 text-blue-900">{{ email }}</span>
    </div>
    <div class="mb-10">
      <i class="fa-brands fa-square-linkedin"></i>
      <span class="text-lg font-bold leading-5 text-blue-900">
        <a href="{{ linkedin }}"> Jonatan Reyes González </a>
      </span>
    </div>
  </div>
</div>
